* {
  margin: 0;
  padding: 0;
  display: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  width: 1280px;
  height: 920px;
  background-color: lightgrey;
  margin: auto;
}
